{% extends 'index.html' %}
{% block titulo %} Tarea - {{ tarea.titulo}} {% endblock %}
{% block contenido %}
    <div class="container mt-4">
        <h1>{{ tarea.titulo }}</h1>
        <p><strong>Creada el:</strong> {{ tarea.fecha_creacion }}</p>
        <p><strong>Fecha de vencimiento:</strong> {{ tarea.fecha_vencimiento }}</p>
        <p><strong>Creado por:</strong> {{tarea.creado_por.username}}</p>
        <p>{{ tarea.tarea }}</p>
        <p><strong>Estado:</strong> {% if tarea.is_concluida %} Concluida {% else %} Pendiente {% endif %}</p>
        <a href="{% url 'tarea-update' tarea.pk %}" class="btn btn-secondary">Editar</a>
        <a href="{% url 'tarea-delete' tarea.pk %}" class="btn btn-danger">Eliminar</a>
        <a href="{% url 'tarea-list' %}" class="btn btn-primary">Volver a la lista</a>
    </div>
{% endblock %}